.node > .dialogue-node.selected {
    border: 1px #4582ec solid;
}

::deep .port {
    width: 24px;
    height: 24px;
    position: absolute;
    border: 1px solid #808080;
    background-color: #e0e0e0;
    border-radius: 50%;
}

    ::deep .port:hover {
        border: 2px solid #404040;
        background: #f0f0f0;
        cursor: pointer;
    }

.node > .dialogue-node.selected ::deep .port {
    border-right-color: #4582ec;
    border-left-color: #4582ec;
}

::deep .port.right {
    top: calc(50% - 12px);
    right: -12px;
    border-right: 1px solid rgba(0,0,0,0.125);
}

::deep .port.left {
    top: calc(50% - 12px);
    left: -12px;
    border-left: 1px solid rgba(0,0,0,0.125);
}