@using Blazor.Diagrams.Components.Renderers

<style>
    .dialogue-node {
        border: 1px solid black;
    }

    .dialogue-node.selected {
        border-color: blue;
    }

    .port-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 24px;
        position: relative;
        border: 1px solid;
    }
</style>

<div class="dialogue-node @(Node.Selected ? "selected" : "")" style="width: 500px;">
    <div>
        <h6>Text node</h6>
    </div>

    @if (Node.DialogueMessage.Stage != Models.Enums.DialogueStage.Begin)
    {
        <DialoguePort Child=@Node.DialogueMessage Node=@Node></DialoguePort>
    }

    <h6>@Node.DialogueMessage.MessageContent</h6>
    
    <div>
        @foreach(var child in Node.DialogueMessage.ChildsNodes)
        {
            <DialoguePort Child="child" Node=@Node></DialoguePort>
        }
    </div>
</div>