@using Blazor.Diagrams.Components.Renderers

<style>
    .dialogue-node {
        border: 1px solid #67F7D4;
        background-color: #FFF7C3;
    }

    .node-header {
        border: 1px solid #67F7D4;
        background-color: #FEE60C;
    }
    
    .node-content {
        border: 1px solid #67F7D4;
        background-color: #43BF8740;
    }

    .dialogue-node.selected {
        border-color: blue;
    }

    .port-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 28px;
        position: relative;
        border: 1px solid #67F7D4;
    }
</style>

<div class="dialogue-node @(Node.Selected ? "selected" : "")" style="width: 500px;">
    <div class="node-header">
        <h6>Text node</h6>
    </div>

    @if (Node.DialogueMessage.Stage != Models.Enums.DialogueStage.Begin)
    {
        <DialoguePort Child=@Node.DialogueMessage Node=@Node></DialoguePort>
    }

    <div class="node-content">
        <span style="margin: 4px; background-color: #FFFFC3">@Node.DialogueMessage.MessageContent</span>
    </div>

    <div>
        @foreach(var child in Node.DialogueMessage.ChildsNodes)
        {
            <DialoguePort Child="child" Node=@Node></DialoguePort>
        }
    </div>
</div>