

.node > .dialogue-node.selected {
    border: 1px #4582ec solid;
}

::deep .port {
    width: 24px;
    height: 24px;
    /*position: absolute;*/
    border: 1px solid #00000040;
    background-color: aqua;
    border-radius: 50%;
}

::deep .port:hover {
    background: #0000ff80;
    cursor: pointer;
}

.node > .dialogue-node.selected ::deep .port {
    border-right-color: #4582ec;
    border-left-color: #4582ec;
}

::deep .port.right {
    top: 0;
    right: -1px;
    border-right: 1px solid rgba(0,0,0,0.125);
}

::deep .port.left {
    top: 0;
    left: -1px;
    border-left: 1px solid rgba(0,0,0,0.125);
}
