@inherits LayoutComponentBase

<style>
    #components-layout-demo-side .logo {
        height: 32px;
        background: #fff;
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }

    .style-header, .style-footer 
    {
        max-height: 5vh;
        background-color: #00000020;
    }

    .style-content {
        max-height: 90vh;
        overflow-y: auto;
        margin: 0px 16px;
    }

    .style-content-inner {
        padding: 24px;
        min-height: 360px;
    }
</style>

<Layout Style="min-height: 100vh; ">

    <NavigationMenu/>

    <Layout Class="site-layout">
        <Header Class="style-header"></Header>
        <Content Class="style-content">
            <div class="site-layout-background style-content-inner">
                @Body
            </div>
        </Content>
        <Footer Class="style-footer" Style="text-align:center ">@($"Dialogue Creation Kit (ver. 0.{DateTime.Now.Month}.{DateTime.Now.Day})\n{DateTime.Now.Year}")</Footer>
    </Layout>

</Layout>



