@inherits LayoutComponentBase

<style>

    .layout-out-style {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .layout-inner-style {
        position: absolute;
        left: 200px;
        height: 100%;
        width: calc(100% - 200px) !important;
    }

    .sider-style {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .style-header 
    {
        height: @_hHeader;
        background-color: #00000020;
    }

    .style-footer {
        height: @_hFooter;
        background-color: #00000020;
        text-align: center;
    }

    .style-content {
        min-height: calc(100% - @_hFooter - @_hHeader);
        height: calc(100% - @_hFooter - @_hHeader);
        overflow-y: auto;
    }

    .style-content-inner {
        padding: 24px;
        min-height: 360px;
        height: 100%;
        background-color: #00000010;
    }
</style>

<div class="layout-out-style">

    <NavigationMenu Class="sider-style"/>

    <div class="layout-inner-style">
        <div class="style-header"></div>
        <div class="style-content">
            <div class="style-content-inner">
                @Body
            </div>
        </div>
        <div class="style-footer">@($"Dialogue Creation Kit (ver. 0.{DateTime.Now.Month}.{DateTime.Now.Day})\n{DateTime.Now.Year}")</div>
    </div>

</div>


@code {
    private string _hFooter = "24px";
    private string _hHeader = "32px";
}
