<Sider Collapsible Collapsed=@_collapsed CollapsedChanged=@OnCollapse Class="@Class">
    <div class="logo" />
    <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) DefaultOpenKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
        <MenuItem Key="0" RouterLink="/dialoguekit" RouterMatch="NavLinkMatch.All">
            <Icon Type="desktop" Theme="outline" />
            <span>Option</span>
        </MenuItem>

        <MenuItem Key="1" RouterLink="/create" RouterMatch="NavLinkMatch.All">
            <Icon Type="appstore-add" Theme="outline" />
            <span>Create</span>
        </MenuItem>
    </Menu>

</Sider>

@code {
    [Parameter] public string Class { get; set; }

    private bool _collapsed { get; set; }

    private void OnCollapse(bool collapsed)
    {
        this._collapsed = collapsed;
    }


}
