.message {
    padding: 8px;
    border-width: 1px;
    border-style: outset;
    border-color: #00000010;
    box-shadow: 0px 0px 10px 1px #00000040;
    margin-bottom: 4px;
    margin-top: 4px;
    /*background-color: #ffffff;*/
}

.message .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed #00000020;
    padding-bottom: 8px;
}

.message .header .avatar {
    margin-right: 8px;
    min-width: 32px;
}

.message .header .title {
    /*margin-left: 8px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.message .header .title .name {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    margin-bottom: 0;
}

.message .header .title .id {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
}

.mr-8, .message .header .title {
    margin-right: 8px;
}

.ml-8, .message .header .title {
    margin-left: 8px;
}

.grid-row {
    padding-top: 8px;
    padding-bottom: 8px;
}

    .grid-row.main {
        height: 100%;
    }

.grid-col-main {
    background-color: #0000ff05;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    overflow-y: auto;
}