@page "/main"
@using DialogueCreationKit.Designer.Components

<div class="wrapper">
    <CascadingValue Value="Diagram">
        <div class="diagram-container">
            <DiagramCanvas></DiagramCanvas>
        </div>
    </CascadingValue>
</div>